* { /* everythin */
    box-sizing: border-box;
    /* paddings dont make the boxes fat */
}


body {
    background-color: darkorange;
    margin: 5vw;
}


.mother {
    background-color: orange;
    width: 20vw; /* a comment */
    height: 20vh;
    padding: 2vw;
    /* border: 0.2vw red solid; */
    border-radius: 1vw;
    box-shadow: 2px 2px 10px 0 #cf6f08;
    color: white;
    font-family: Arial, sans-serif;
}
.son {
    background-color: blue;
    width: 5vw; /* a comment */
    height: 5vh;
    padding: 1vw;
    /* border: 0.2vw red solid; */
    border-radius: 0.5vw;
    box-shadow: 2px 2px 10px 0 #cf6f08;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
